*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #111;
    color: white;
    font-size: 0.85rem;

    /* Header stays on top while scrolling */
    position: sticky;
    top: 0;
    z-index: 1002;
}

.logo{
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
}

.logo:hover{
    color: #00bfff;
}

.nav-links{
    padding-left: 250px;
    list-style: none;
    display: flex;
    gap: 50px;
    z-index: 1;
}

.nav-links a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover{
    color: #00bcd4;
}

.nav-icons{
    padding-right: 150px;
    display: flex;
    gap: 50px;
    width: 30px;
    cursor: pointer;
}

.nav-icons i{
    font-size: 0.85rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.nav-icons i:hover{
    color: #00bcd4;
}

.menu-icon{
    display: block; /*Hidden on desktop*/
    font-size: 15px;
    cursor: pointer;
    position: relative;
    z-index: 1001;
}

.menu-icon i:hover{
    color: #00bcd4;
}


#menu-toggle{
    position: absolute;
    opacity: 0;
}

.mobile-menu{
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 70vh;
    background: rgba(17,17,17,0.9);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    padding: 60px 20px;
    transition: right 0.3s ease-in-out;
    z-index: 1001;
}

.mobile-menu a{
    color: white;
    text-decoration: none;
    margin: 15px 0;
}

#menu-toggle:checked ~ .mobile-menu{
    right: 0;
}

.overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 1000;
}

#menu-toggle:checked ~ .overlay{
    opacity: 1;
    pointer-events: auto;
}


.hero{
    height: 400px;
    width: 100%;
    background: url("images/hero-section_img.jpg") no-repeat center center;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content:left;
    align-items:flex-start;
    text-align: left;
    color: white;
}

.hero-content{
    /* background: rgba(0,0,0,0.6); */
    padding: 40px;
    border-radius: 10px;
}

.hero h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p{
    margin-bottom: 50px;
}

.btn{
    background-color: #0063d4;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover{
    background-color: #033064;
}

.products{
    padding: 60px;
    /* text-align: center; */
}


.products h2{
    margin-bottom: 40px;
    font-size: 30px;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.box{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s;
}

.image-wrapper{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    border-radius: 8px;
    margin-bottom: 15px;
}

.image-wrapper img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.box:hover{
    transform: translateY(-10px);
}

.box p{
    margin-top: 10px;
}

.box button{
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background: #00bcd4;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.box button:hover{
    background-color: #0097a7;
}

footer{
    margin-top: 10px;
}

.panel-1{
    background-color: #222f3d;
    color: white;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
}

.panel-1 ul{
    margin-top: 20px;
}

.panel-1 p{
    font-size: 1.35rem;
}

.panel-1 ul a{
    display: block;
    margin-top: 10px;
    font-size: 0.85rem;
    color: #dddddd;
    text-decoration: none;
}

.panel-1 ul a:hover{
    color: #339caa;
}

.copywrite{
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
}

@media (max-width: 1024px){
    .logo{
        font-size: 20px;
    }

    .nav-icons i{
        font-size: 16px;
    }

    .product-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .navbar{
        padding: 15px 30px;
    }

    .nav-links{
        display: none;
    }

    .nav-icons{
        display: flex;
        align-items: center;
        gap: 40px;
    }

    /* .menu-icon{
        display: block;
    } */
}

@media (max-width: 768px){
    .navbar{
        display: flex;
        padding: 15px 20px;
    }

    .logo{
        flex: 1;
        font-size: 18px;
    }

    .nav-links{
       display: none;
    }

    .nav-icons{
        display: flex;
        gap: 25px;
    }

    .nav-icons i{
        font-size: 14px;
    }

    .menu-icon{
        display: flex;
        align-items: center;
        font-size: 20px;
        cursor: pointer;
    }

    .hero h1{
        font-size: 32px;
    }

    .product-grid{
        grid-template-columns: 1fr;
    }

    .products h2{
        font-size: 25px;
    }

    .box h3{
        font-size: 18px;
    }

    .panel-1 p{
        font-size: 1rem;
    }
}

@media (min-width: 769px){
    .menu-icon{
        display: none;
    }
}
